<div class="starter-home" ibmGrid>
	<p class="title">Demo Project</p>
	<br>
	<img
    src="assets/icons/demo.jpg"
/>
	<ibm-tabs [isNavigation]="false">
		<ibm-tab heading="Class timings">
			<br>
			<p class="starter-tab-description">
				Morning : 10am - 1 pm
			</p>
			</ibm-tab>
		<ibm-tab heading="About the course">
			<br>
			<p class="starter-tab-description">
				Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS
			</p>
			</ibm-tab>
	</ibm-tabs>		

</div>
